resources/MariaDBHandlerService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://handler/" name="MariaDBHandlerService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://handler/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://handler/" schemaLocation="MariaDBHandlerService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addTransportAgents">
    <part name="parameters" element="tns:addTransportAgents"/>
  </message>
  <message name="addTransportAgentsResponse">
    <part name="parameters" element="tns:addTransportAgentsResponse"/>
  </message>
  <message name="SQLException">
    <part name="fault" element="tns:SQLException"/>
  </message>
  <message name="updateTransportAgents">
    <part name="parameters" element="tns:updateTransportAgents"/>
  </message>
  <message name="updateTransportAgentsResponse">
    <part name="parameters" element="tns:updateTransportAgentsResponse"/>
  </message>
  <message name="removeTransportAgents">
    <part name="parameters" element="tns:removeTransportAgents"/>
  </message>
  <message name="removeTransportAgentsResponse">
    <part name="parameters" element="tns:removeTransportAgentsResponse"/>
  </message>
  <message name="getTransportAgents">
    <part name="parameters" element="tns:getTransportAgents"/>
  </message>
  <message name="getTransportAgentsResponse">
    <part name="parameters" element="tns:getTransportAgentsResponse"/>
  </message>
  <message name="addCells">
    <part name="parameters" element="tns:addCells"/>
  </message>
  <message name="addCellsResponse">
    <part name="parameters" element="tns:addCellsResponse"/>
  </message>
  <message name="updateCells">
    <part name="parameters" element="tns:updateCells"/>
  </message>
  <message name="updateCellsResponse">
    <part name="parameters" element="tns:updateCellsResponse"/>
  </message>
  <message name="removeCells">
    <part name="parameters" element="tns:removeCells"/>
  </message>
  <message name="removeCellsResponse">
    <part name="parameters" element="tns:removeCellsResponse"/>
  </message>
  <message name="getCells">
    <part name="parameters" element="tns:getCells"/>
  </message>
  <message name="getCellsResponse">
    <part name="parameters" element="tns:getCellsResponse"/>
  </message>
  <message name="addRoutes">
    <part name="parameters" element="tns:addRoutes"/>
  </message>
  <message name="addRoutesResponse">
    <part name="parameters" element="tns:addRoutesResponse"/>
  </message>
  <message name="updateRoutes">
    <part name="parameters" element="tns:updateRoutes"/>
  </message>
  <message name="updateRoutesResponse">
    <part name="parameters" element="tns:updateRoutesResponse"/>
  </message>
  <message name="removeRoutes">
    <part name="parameters" element="tns:removeRoutes"/>
  </message>
  <message name="removeRoutesResponse">
    <part name="parameters" element="tns:removeRoutesResponse"/>
  </message>
  <message name="getRoutes">
    <part name="parameters" element="tns:getRoutes"/>
  </message>
  <message name="getRoutesResponse">
    <part name="parameters" element="tns:getRoutesResponse"/>
  </message>
  <portType name="MariaDBHandler">
    <operation name="addTransportAgents">
      <input wsam:Action="http://handler/MariaDBHandler/addTransportAgentsRequest" message="tns:addTransportAgents"/>
      <output wsam:Action="http://handler/MariaDBHandler/addTransportAgentsResponse" message="tns:addTransportAgentsResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://handler/MariaDBHandler/addTransportAgents/Fault/SQLException"/>
    </operation>
    <operation name="updateTransportAgents">
      <input wsam:Action="http://handler/MariaDBHandler/updateTransportAgentsRequest" message="tns:updateTransportAgents"/>
      <output wsam:Action="http://handler/MariaDBHandler/updateTransportAgentsResponse" message="tns:updateTransportAgentsResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://handler/MariaDBHandler/updateTransportAgents/Fault/SQLException"/>
    </operation>
    <operation name="removeTransportAgents">
      <input wsam:Action="http://handler/MariaDBHandler/removeTransportAgentsRequest" message="tns:removeTransportAgents"/>
      <output wsam:Action="http://handler/MariaDBHandler/removeTransportAgentsResponse" message="tns:removeTransportAgentsResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://handler/MariaDBHandler/removeTransportAgents/Fault/SQLException"/>
    </operation>
    <operation name="getTransportAgents">
      <input wsam:Action="http://handler/MariaDBHandler/getTransportAgentsRequest" message="tns:getTransportAgents"/>
      <output wsam:Action="http://handler/MariaDBHandler/getTransportAgentsResponse" message="tns:getTransportAgentsResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://handler/MariaDBHandler/getTransportAgents/Fault/SQLException"/>
    </operation>
    <operation name="addCells">
      <input wsam:Action="http://handler/MariaDBHandler/addCellsRequest" message="tns:addCells"/>
      <output wsam:Action="http://handler/MariaDBHandler/addCellsResponse" message="tns:addCellsResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://handler/MariaDBHandler/addCells/Fault/SQLException"/>
    </operation>
    <operation name="updateCells">
      <input wsam:Action="http://handler/MariaDBHandler/updateCellsRequest" message="tns:updateCells"/>
      <output wsam:Action="http://handler/MariaDBHandler/updateCellsResponse" message="tns:updateCellsResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://handler/MariaDBHandler/updateCells/Fault/SQLException"/>
    </operation>
    <operation name="removeCells">
      <input wsam:Action="http://handler/MariaDBHandler/removeCellsRequest" message="tns:removeCells"/>
      <output wsam:Action="http://handler/MariaDBHandler/removeCellsResponse" message="tns:removeCellsResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://handler/MariaDBHandler/removeCells/Fault/SQLException"/>
    </operation>
    <operation name="getCells">
      <input wsam:Action="http://handler/MariaDBHandler/getCellsRequest" message="tns:getCells"/>
      <output wsam:Action="http://handler/MariaDBHandler/getCellsResponse" message="tns:getCellsResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://handler/MariaDBHandler/getCells/Fault/SQLException"/>
    </operation>
    <operation name="addRoutes">
      <input wsam:Action="http://handler/MariaDBHandler/addRoutesRequest" message="tns:addRoutes"/>
      <output wsam:Action="http://handler/MariaDBHandler/addRoutesResponse" message="tns:addRoutesResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://handler/MariaDBHandler/addRoutes/Fault/SQLException"/>
    </operation>
    <operation name="updateRoutes">
      <input wsam:Action="http://handler/MariaDBHandler/updateRoutesRequest" message="tns:updateRoutes"/>
      <output wsam:Action="http://handler/MariaDBHandler/updateRoutesResponse" message="tns:updateRoutesResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://handler/MariaDBHandler/updateRoutes/Fault/SQLException"/>
    </operation>
    <operation name="removeRoutes">
      <input wsam:Action="http://handler/MariaDBHandler/removeRoutesRequest" message="tns:removeRoutes"/>
      <output wsam:Action="http://handler/MariaDBHandler/removeRoutesResponse" message="tns:removeRoutesResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://handler/MariaDBHandler/removeRoutes/Fault/SQLException"/>
    </operation>
    <operation name="getRoutes">
      <input wsam:Action="http://handler/MariaDBHandler/getRoutesRequest" message="tns:getRoutes"/>
      <output wsam:Action="http://handler/MariaDBHandler/getRoutesResponse" message="tns:getRoutesResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://handler/MariaDBHandler/getRoutes/Fault/SQLException"/>
    </operation>
  </portType>
  <binding name="MariaDBHandlerPortBinding" type="tns:MariaDBHandler">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="addTransportAgents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateTransportAgents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeTransportAgents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="getTransportAgents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="addCells">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateCells">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeCells">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="getCells">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="addRoutes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateRoutes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeRoutes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="getRoutes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="MariaDBHandlerService">
    <port name="MariaDBHandlerPort" binding="tns:MariaDBHandlerPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

